.container {
  display: flex;
  gap: 160px;
  padding: 0 24px;
  width: 560px;
  border: 2px solid rgb(117, 77, 77);
  border-radius: 8px;
}
.wrapper {
  padding: 8px;
}
.text {
  font-size: 32px;
  font-size: 500;
}
.btn {
  margin: auto;
  padding: 18px;
  background-color: brown;
  color: wheat;
  font-size: 32px;
}
